/* 기본 레이아웃 */
.contents_wrap{
	width: 100%;
	max-width: 1400px;
	margin: 60px auto;
}

.contents{
	width: 1200px;
	margin: 50px auto;
	padding: 40px;
	border: 1px solid black;
	border-radius: 0.25em;
}

.com_area{ padding: 20px 35px; }
.com_area td{ min-height: 160px; }

/* 별점 */
#star-1:checked ~ section [for='star-1'] svg, #star-2:checked ~ section [for='star-1'] svg, #star-2:checked ~ section [for='star-2'] svg, #star-3:checked ~ section [for='star-1'] svg, #star-3:checked ~ section [for='star-2'] svg, #star-3:checked ~ section [for='star-3'] svg, #star-4:checked ~ section [for='star-1'] svg, #star-4:checked ~ section [for='star-2'] svg, #star-4:checked ~ section [for='star-3'] svg, #star-4:checked ~ section [for='star-4'] svg, #star-5:checked ~ section [for='star-1'] svg, #star-5:checked ~ section [for='star-2'] svg, #star-5:checked ~ section [for='star-3'] svg, #star-5:checked ~ section [for='star-4'] svg, #star-5:checked ~ section [for='star-5'] svg {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#star-1:checked ~ section [for='star-1'] svg path, #star-2:checked ~ section [for='star-1'] svg path, #star-2:checked ~ section [for='star-2'] svg path, #star-3:checked ~ section [for='star-1'] svg path, #star-3:checked ~ section [for='star-2'] svg path, #star-3:checked ~ section [for='star-3'] svg path, #star-4:checked ~ section [for='star-1'] svg path, #star-4:checked ~ section [for='star-2'] svg path, #star-4:checked ~ section [for='star-3'] svg path, #star-4:checked ~ section [for='star-4'] svg path, #star-5:checked ~ section [for='star-1'] svg path, #star-5:checked ~ section [for='star-2'] svg path, #star-5:checked ~ section [for='star-3'] svg path, #star-5:checked ~ section [for='star-4'] svg path, #star-5:checked ~ section [for='star-5'] svg path {
  fill: #ffbb00;
  stroke: #cc9600;
}

section {  width: 300px;  text-align: center;  margin: auto; }

label {  display: inline-block;  width: 50px;  text-align: center;  cursor: pointer;}

label svg {  width: 100%;  height: auto;  fill: white;  stroke: #ccc;  -webkit-transform: scale(0.8);	transform: scale(0.8);  -webkit-transition: -webkit-transform 200ms ease-in-out;  transition: -webkit-transform 200ms ease-in-out;  transition: transform 200ms ease-in-out;  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out; }

label svg path {  -webkit-transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;  transition: fill 200ms ease-in-out, stroke 100ms ease-in-out; }

input[type=radio]{  margin-top: 1rem;  display: none;} 
