.contents_wrap{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
	margin-top: 60px;
}

.contents{
	width: 1600px;
	margin: 0 auto;
}

.board_list{
	border-top: 1px solid #dee2e6;
	border-bottom: 2px solid #dee2e6;
}

.board_list tr{
	max-width: 1600px;
	margin: 20px;
}

.des{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
	/* 여러 줄 자르기 추가 스타일 */ 
	white-space: normal; 
	line-height: 1.8;
	height: 5.5em; 
	text-align: left; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
}